@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  /*background: #4CAF50;*/
}

.container {
  max-width: 400px;
  width: 100%;
  /*margin: 0 auto;*/
  position: relative;
}

.contact{
/*  min-width: 460px;
  max-width: 100px !important;*/
}

input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
.contact input[type="number"],
.contact textarea,
.contact select,
.contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.wl_select{
  width: 300px;
}

.contact {
  float: left;
  max-width: 100%;
  background: #F9F9F9;
  padding: 25px;
  margin-left: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.contact label{
  color: black;
  font-weight: bolder;
  margin: 5px 0 15px;
  font-size: 15px;
  font-weight: 400;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
.contact input[type="file"],
.contact select,
.contact textarea {
  min-width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact input[type="tel"]:hover,
.contact input[type="url"]:hover,
.contact input[type="file"]:hover,
.contact select:hover,
.contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

.contact input:focus,
.contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
.wl_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.wl_table td, .wl_table th {
  color: black;
  border: 1px solid #ddd;
  padding: 8px;
}

.wl_table tr:nth-child(even){background-color: #f2f2f2;}

.wl_table tr:hover {background-color: #ddd;}

.wl_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.text-center{
    text-align: center;
}
.top-20{
  margin-top: 20px;
}
.bottom-20{
  margin-bottom: 20px;
}
.left-20{
  margin-left: 20px;
}
.right-20{
  margin-right: 20px;
}
.text-red{
  color: red;
}
.text-green{
  color: green;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

.float-right{
  float: right;
}
.margin-bottom-20{
  margin-bottom: 20px !important;
}

.rt-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.rt-red {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.rt-red:hover {
  background-color: #f44336;
  color: white;
}

.remove_rt_append_data{

}

.rt-sm-btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 20px;
  cursor: pointer;
}

a{
  cursor: pointer;
}


.bg-danger{
  background-color: #dc3545!important;
  color: black !important;
}

.bg-primary{
  background-color: #007bff!important;
}

.bg-success{
  background-color: #28a745!important;
}

.bg-info{
  background-color: #17a2b8!important;
}

.bg-warning{
  background-color: #ffc107!important;
}

.bg-muted{
  background-color: #6c757d!important;
}

.text-danger{
  color: #dc3545!important;
}

.text-primary{
  color: #007bff!important;
}

.text-success{
  color: #28a745!important;
}

.text-info{
  color: #17a2b8!important;
}

.text-warning{
  color: #ffc107!important;
}

.text-muted{
  color: #6c757d!important;
}
.nowrap{
  white-space: nowrap;
}

.dataTables_length select{
  min-width: 80px !important;
}
.pointer{
  cursor: pointer;
}

.wl_beauti_table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.wl_beauti_table th, td {
    text-align: left;
    padding: 8px;
}

.wl_beauti_table tr:nth-child(even) {
    background-color: #f2f2f2;
}